<table class="table table-striped" ng-if="!$ctrl.errorMessage">
  <tbody>
  <tr ng-repeat="attachment in $ctrl.attachments track by $index">
    <td>
      <a class="glyphicon glyphicon-download-alt"
         target="_blank"
         title="{{::attachment.filename}} ({{::attachment.mimeType}})"
         href="{{::attachment._links.data.href}}"> {{::attachment.filename}} ({{attachment.dispositionType}})</a>
    </td>
  </tr>
  </tbody>
</table>

<div class="alert alert-dismissible" ng-class="'alert-warning'" ng-if="$ctrl.errorMessage">
  <strong>Warning!</strong> Could not fetch attachments.
</div>
