<uib-tabset justified="true">
  <uib-tab class="plain" index="0" heading="Plain Text" ng-if="$ctrl.mail.text.length > 0">
    <div class="panel panel-default">
      <div class="panel-body">
        <message-text text="{{$ctrl.mail.text}}"></message-text>
      </div>
    </div>
  </uib-tab>

  <uib-tab class="html" index="1" heading="HTML" ng-if="$ctrl.mail.html.length > 0">
    <div class="panel panel-default">
      <div class="panel-body">
        <button class="btn btn-default" ng-if="!$ctrl.showHtmlBodyQueryPanel" ng-click="$ctrl.openHtmlBodyQueryPanel()">Query HTML</button>
        <button class="btn btn-default" ng-if="$ctrl.showHtmlBodyQueryPanel" ng-click="$ctrl.openHtmlBodyQueryPanel()">back to HTML</button>

        <hr>

        <message-html ng-if="!$ctrl.showHtmlBodyQueryPanel" mail="$ctrl.mail"></message-html>
        <message-html-query ng-if="$ctrl.showHtmlBodyQueryPanel" mail="$ctrl.mail"></message-html-query>
      </div>
    </div>
  </uib-tab>

  <uib-tab class="attachments" index="2" heading="Attachments" ng-if="$ctrl.mail.attachments">
    <div class="panel panel-default">
      <div class="panel-body">
        <attachments-panel mail="$ctrl.mail"></attachments-panel>
      </div>
    </div>
  </uib-tab>
</uib-tabset>
