<div>
    <!-- remove focus on first link in mail body -->
    <button style="position:fixed; top:10px; left:10px; opacity:0"></button>
    <div class="modal-body">
        <table class="table table-condensed">
            <tbody>
            <tr>
                <td><b>Message ID</b></td>
                <td>{{::mail.messageId}}</td>
            </tr>
            <tr>
                <td><b>Sender</b></td>
                <td>{{::mail.sender}}</td>
            </tr>
            <tr>
                <td><b>Recipient</b></td>
                <td>{{::mail.recipient}}</td>
            </tr>
            <tr>
                <td><b>Subject</b></td>
                <td>{{::mail.subject}}</td>
            </tr>
            <tr>
                <td><b>Date</b></td>
                <td>{{::mail.createdAt}}</td>
            </tr>
            </tbody>
        </table>
        <div class="panel panel-default">
            <div class="panel-body">
                <message-text mail="mail">
                    <div ng-repeat="line in messageText track by $index">
                        <br ng-if="line.length === 0">
                        <div ng-if="line.length !== 0" ng-bind-html="::line | urlToLink"></div>
                    </div>
                </message-text>
            </div>
        </div>

        <attachments-panel attachments="mail.attachments"></attachments-panel>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="close()">close</button>
    </div>
</div>
